@font-face {
  font-family: sportFont;
  src: url("./assets/fonts/sportFont.ttf");
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html{
  background-color: #445251;
  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 62.5%;
  z-index: -1;
  animation: background 10s linear infinite;
}

/* FIXME: zoom in and out the background image */ 
/* @keyframes background{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
} */

a{
  text-decoration: none;
  color: black;
}
