@font-face {
  font-family: sportFont;
  src: url("./assets/fonts/sportFont.ttf");
  font-family: delirium;
  src: url("./assets/fonts/DeliriumNcv-Vm5e.ttf");
  font-family: deliriumNeon;
  src: url("./assets/fonts/DeliriumNeonNcv-J1AK.ttf");
  font-family: museo300;
  src: local("Museo-300"),
    url("./assets/fonts/Museo-300.ttf") format("truetype");
  font-family: museo500;
  src: local("Museo-500"),
    url("./assets/fonts/Museo-500.ttf") format("truetype");
  font-family: museo700;
  src: local("Museo-700"),
    url("./assets/fonts/Museo-700.ttf") format("truetype");
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html{
  background-color: #445251;
  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 62.5%;
  z-index: -1;
  animation: background 10s linear infinite;
}

/* FIXME: zoom in and out the background image */ 
/* @keyframes background{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
} */

a{
  text-decoration: none;
  color: black;
}
